/*
 * @name RainbowGlow
 * @author Wolfÿ
 * @version 1.0.0
 * @invite avia
 * @description Makes the Avatar have a Rainbowglow when someone is speaking
 * @source https://github.com/MEWPASCO/rainbowglow-avatars
 */

/* Rainbow glow around Avatars in VC */
#app-mount
  /* Avatars in the VC when in Chat wiew - Server */
  .avatarSpeaking__07f91 {
    -webkit-box-shadow: inset 0 0 0 2px #0ff !important;
    box-shadow: inset 0 0 0 2px #0ff !important;
    -webkit-animation: rainbow 3s infinite linear !important;
    animation: rainbow 3s infinite linear !important;
  }

  /* Own useravatar in the bottom left - Everywhere */
  .avatarSpeaking__44b0c {
    -webkit-box-shadow: inset 0 0 0 2px #0ff !important;
    box-shadow: inset 0 0 0 2px #0ff !important;
    -webkit-animation: rainbow 3s infinite linear !important;
    animation: rainbow 3s infinite linear !important;
  }

  /* Big boxes when VC is in focus - Everywhere */
  .speaking__2f4f7 {
    -webkit-box-shadow: inset 0 0 0 2px #0ff !important;
    box-shadow: inset 0 0 0 2px #0ff !important;
    -webkit-animation: rainbow 3s infinite linear !important;
    animation: rainbow 3s infinite linear !important;
  }

  /* Small avatar below "Voice connected" if enabled - Everywhere */
  .speaking__68617 {
    -webkit-box-shadow: inset 0 0 0 2px #0ff !important;
    box-shadow: inset 0 0 0 2px #0ff !important;
    -webkit-animation: rainbow 3s infinite linear !important;
    animation: rainbow 3s infinite linear !important;
  }

  /* Avatars in private/group call - DMs */
  .speaking_f910d0 {
    -webkit-box-shadow: inset 0 0 0 2px #0ff !important;
    box-shadow: inset 0 0 0 2px #0ff !important;
    -webkit-animation: rainbow 3s infinite linear !important;
    animation: rainbow 3s infinite linear !important;
  }

  /* Animation */
  @keyframes rainbow {
    0% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
    100% {
      -webkit-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
}
