/**
 * @name RainbowGlow
 * @author Wolfÿ
 * @version 1.1
 * @description Makes the Avatar have a RainbowGlow when someone is speaking
 * @invite avia
 * @source https://github.com/MEWPASCO/rainbowglow-avatars
 * @website https://www.avariaxyz.win/
 */

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* Rainbow glow around avatars in VC */
div[class*="userAvatar__"][style*="status-speaking"], /* Avatars in Server VC */
div[class*="avatarBorder__"][style*="status-speaking"], /* Own-Avatar in User Panel bottom left */
div[class*="border__"][style*="status-speaking"], /* Boxed Layout in DMS when streaming and in Servers when in focused view */
div[class*="avatar__"][style*="status-speaking"], /* Avatar of others in User Panel bottom left */
div[class*="border_"][style*="status-speaking"] /* Avatars in DMS round layout */
{
  box-shadow: inset 0 0 0 2px #0ff !important;
  animation: rainbow 3s infinite linear !important;
}